/* overlay */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    pointer-events: all;
}

/* Nav */
.home-container {
    margin: 0 auto;
    width: 90%;
}

.home-nav {
    background-color: white;
    margin-bottom: 1rem;
}

.home-nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo-and-search {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 1rem;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #9B9B9B;
}

.nav-search {
    width: 100%;
    position: relative;
}

.nav-search input {
    border-radius: 20px;
    border: 2px solid #EDEDED;
    height: 35px;
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    width: 80%;
}

.nav-options {
    flex: 2;
    display: flex;
    gap: 2rem;
}

.nav-option {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: .3s;
    position: relative;
}

.notif {
    cursor: pointer;
}

.notif-notification {
    background-color: var(--primary-pink);
    color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
}

.notif-notification p {
    font-size: .8rem;
}

.notif-active {
    background-color: var(--primary-blue);
    border-radius: 20px;
    padding: .5rem;
    color: white;
}

.icon-active {
    color: white;
    font-size: 1.2rem;
}

.nav-option h4 {
    font-weight: 100;
}

.nav-icon {
    color: var(--primary-blue);
    font-size: 1.2rem;
}

.profile-dropdown-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.profile-dropdown {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    background-color: #EDEDED;
    width: 50%;
    padding: 1rem;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    z-index: 10;
}

.profile-dropdown-img {
    height: 25px;
    width: 25px;
    border-radius: 100%;
}

/* Dropped profile */
.dropped-profile {
    position: absolute;
    top: 75px;
    background-color: white;
    width: 20%;
    height: 50vh;
    border: 1px solid #e8e8e8;
    border-radius: 20px;
    z-index: 6;
}

.dropped-profile h2 {
    padding-top: 1rem;
    position: relative;
}

.dropped-profile h2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #EDEDED;
    bottom: -15px;
    left: 0;
}

.dropdown-components {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.dropdown-component {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.dropdown-icon {
    font-size: 1.6rem;
    color: var(--primary-pink);
}

.notifications-dropdown {
    position: absolute;
    background-color: white;
    top: 75px;
    width: 30%;
    right: 33%;
    border: 1px solid #e8e8e8;
    border-radius: 20px;
    z-index: 2;
}

.notification-items {
    margin-top: 1rem;
    background-color: #EDEDED;
    border-radius: 20px;
    padding: .7rem;
}

.notification-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .7rem;
}

.notification-item img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.notif-dropdown-header {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.notif-dropdown-header h4 {
    color: var(--primary-blue);
}

/* Responsibe Tablet Design */
@media only screen and (max-width: 1200px) {
    .home-nav {
        position: fixed;
        border: 1px solid #e8e8e8;
        border-radius: 20px;
        bottom: 1rem;
        right: 10%;
        left: 10%;
        z-index: 2;
    }

    .main {
        margin-top: 0;
        padding-top: 1rem;
    }

    .nav-option h4 {
        display: none;
    }

    .nav-options {
        flex: 1;
    }

        /* Profile dropdown */
        .dropped-profile {
            top: -380px;
            font-size: .7rem;
            width: 40%;
        }
    
        /* Notifications dropdown */
        .notifications-dropdown {
            top: -520px;
            width: 40%;
        }
    
        .notifications-dropdown p {
            font-size: .6rem;
        }
}

/* Responsive Mobile Design */
@media only screen and (max-width: 800px) {
    .profile-dropdown {
        display: none;
    }
    .home-nav {
        right: 5%;
        left: 5%;
        height: 75px;
    }
    .home-nav-flex {
        height: 100%;
        justify-content: center;
        width: 50%;
    }
    .nav-options {
        flex: 1;
    }
    .logo-and-search {
        display: none;
    }

    .notifications-dropdown {
        position: absolute;
        width: 60%;
        top: -500px;
        z-index: 4;
        right: 20%;
    }
}