/* Global */
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /* Poppins font-family: 'Poppins', sans-serif; */

/* Variables */
:root {
  --primary-pink: #FF6884;
  --primary-blue: #394DF0;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
}

h1 {
  font-size: 2.2rem;
}

p {
  font-size: 1rem;
}

small {
  font-size: .7rem;
  color: gray;
}

.text-center {
  text-align: center;
}

.primary-pink {
  color: var(--primary-pink);
}

.primary-blue {
  color: var(--primary-blue)
}

.btn {
  background: var(--primary-pink);
  border: none;
  color: white;
  padding: .8rem 1.5rem;
  border-radius: 50px;
  font-size: 1rem;
  transition: 0.2s ease-in;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.btn:hover {
  background-color: var(--primary-blue);
}

.btn-full {
  width: 100%;
  background-color: #FF6884;
  color: white;
  border: none;
  padding: 1.3rem;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.btn-full:hover {
  background-color: var(--primary-blue);
}

.blue-span {
  color: var(--primary-blue);
}

.pink-span {
  color: var(--primary-pink);
}

/* @media only screen and (max-width: 800px) {
  html, body {
    position: relative;
    overflow-x: hidden;
  }
} */