.home {
    background-color: #EDEDED;
}

/* Main */
.main {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

/* Responsibe Tablet Design */
@media only screen and (max-width: 1200px) {
    /* Nav */
    .home-nav {
        position: fixed;
        border: 1px solid #e8e8e8;
        border-radius: 20px;
        bottom: 2rem;
        right: 10%;
        left: 10%;
    }

    .main {
        margin-top: 0;
        padding-top: 1rem;
    }

    .nav-option h4 {
        display: none;
    }

    .nav-options {
        flex: 1;
    }

    /* Left sidebar */
    .lsbc {
        width: 10%;
    }
    .left-sidebar h4, .left-sidebar small, .left-sidebar p {
        display: none;
    }

    .pages {
        width: 100%;
    }

    .pages img {
        margin: 0 auto;
    }

    .left-sidebar-extra-content {
        flex-direction: column;
    }

    /* Feed */
    .post-options {
        font-size: .7rem;
    }

    .post-options li {
        display: none;
    }

    /* Profile dropdown */
    .dropped-profile {
        top: -380px;
        font-size: .7rem;
        width: 40%;
    }

    /* Notifications dropdown */
    .notifications-dropdown {
        top: -520px;
        width: 40%;
    }

    .notifications-dropdown p {
        font-size: .6rem;
    }
}

@media only screen and (max-width: 1000px) {
    .post-options {
        font-size: .5rem;
    }

    .nav-search {
        display: none;
    }
}

/* Responsive Mobile Design */
@media only screen and (max-width: 800px) {

    .logo-and-search {
        display: none;
    }

    .right-sidebar {
        display: none;
    }

    .main-feed {
        width: 80%;
    }

    .lsbc {
        width: 20%;
    }

    .post-options {
        font-size: .6rem;
    }

    /* Notifications dropdown */
    .notifications-dropdown {
        position: absolute;
        width: 60%;
        top: -500px;
        z-index: 4;
        right: 20%;
    }
}