.sidebar-container {
    width: 90%;
    margin: 0 auto;
}
.left-container {
    position: sticky;
    width: 20%;
    
    height: 100vh;
    top: 10px;
    align-self: flex-start;
}
.left-sidebar {
    background-color: white;
    width: 100%;
    border-radius: 20px;
}
.left-sidebar-profile {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.left-sidebar-profile::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: #EDEDED;
}
.sidebar-img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.pages {
    margin-top: 1rem;
}

.twitter {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    position: relative;
}
.twitter::before {
    position: absolute;
    content: '2';
    background-color: var(--primary-pink);
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}
.twitter img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.view-all {
    color: var(--primary-blue);
    margin-top: 2rem;
}

.projects {
    margin-top: 2rem;
}


.github {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    position: relative;
}
.github img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.portfolio img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.portfolio {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    position: relative;
    padding-bottom: 1rem;
}
.github::before {
    position: absolute;
    content: '4';
    background-color: var(--primary-pink);
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}
.portfolio::before {
    position: absolute;
    content: '9';
    background-color: var(--primary-pink);
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}

.left-sidebar-extra-content {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    font-size: 5px;
}
.left-sidebar-extra-content p {
    font-size: .8rem;
}

/* mobile */
@media only screen and (max-width: 900px) {
    .left-sidebar {
        text-align: center;
        width: 100%;
    }
    .left-sidebar-profile {
        display: flex;
        justify-content: center;
    }
    .pfp-and-location small {
        display: none;
    }
    .left-icon {
        display: none;
    }
    .twitter, .github, .portfolio {
        justify-content: center;
    }
    .twitter-txt {
        display: none;
    }
    .twitter::before, .github::before, .portfolio::before {
        display: none;
    }
    .left-sidebar-extra-content {
        flex-direction: column;
    }
    .copyright {
        font-size: .8rem;
    }
}