/* Global */
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /* Poppins font-family: 'Poppins', sans-serif; */

/* Variables */
:root {
  --primary-pink: #FF6884;
  --primary-blue: #394DF0;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.btn {
  background: var(--primary-pink);
  border: none;
  color: white;
  padding: .8rem 1.5rem;
  border-radius: 50px;
  font-size: 1rem;
  transition: 0.2s ease-in;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.btn:hover {
  background-color: var(--primary-blue);
}

.btn-full {
  width: 100%;
  background-color: #FF6884;
  color: white;
  border: none;
  padding: 1.3rem;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.btn-full:hover {
  background-color: var(--primary-blue);
}

.blue-span {
  color: var(--primary-blue);
}

.pink-span {
  color: var(--primary-pink);
}

.form-h1 {
  color: var(--primary-blue);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top: 2rem;
}

.intro-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.intro-form-item {
  width: 30%;
  position: relative;
}

.intro-form label {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  top: 15px;
  left: 20px;
  transition: 0.3s ease;
}

.form-input {
  background-color: #EBEBEB;
  border: none;
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
}

.form-input:focus {
  outline: 3px solid var(--primary-blue);
  background-color: white;
}

.form-container {
  width: 30%;
}

/* Input animation */
.form-input:focus ~ label, .form-input:not(:placeholder-shown).form-input:not(:focus) ~ label {
  top: -15px;
  background-color: white;
  border-radius: 20px;
  padding: 0 10px 0 10px;
}